@font-face {
       font-family: "Graphik-Light";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Light.otf");
}
@font-face {
       font-family: "Graphik-Regular";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Regular.otf");
}
html,body{
      background-color: #0F4C81;
      margin-top:1vw;
}
a{
  text-decoration: none;
}
p{
  font-family: Graphik-Light;
  color: #BDD340;
}
p:hover{
  color: #f46f60;
}
.mainbox{
  display: flex;
  flex-direction: column;
}
.topbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:-90px;
}
.name{
  font-family: Graphik-Regular;
  font-size: 70px;
}
.info{
  display: flex;
  align-self: flex-end;
  text-align: right;
  font-family: Graphik-Regular;
  font-size: 70px;
}
.line{
  width:100vw;
  height:2px;
  background-color: #f46f60;
  margin-top:-65px;
}
.title{
  font-family: Graphik-Regular;
  color: #BDD340;
  font-size: 70px;
}
.title0{
  font-family: Graphik-Regular;
  color: #BDD340;
  font-size: 70px;
}
.lowerbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.project{
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.exercise{
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
@media(max-width: 1000px){
      .topbox{
        margin-top: -60px;
      }
      .line{
        margin-top: -50px;
      }
      .name{
       font-size: 50px;
      }
      .info{
       font-size: 50px;
      }
      .project{
       font-size: 45px;
      }
      .exercise{
       font-size: 45px;
      }
}
@media(max-width: 500px){
      .topbox{
        margin-top: -40px;
      }
      .line{
        margin-top: -30px;
      }
      .name{
       font-size: 30px;
      }
      .info{
       font-size: 30px;
      }
      .project{
       font-size: 25px;
      }
      .exercise{
       font-size: 25px;
      }
        
}