@font-face {
       font-family: "Graphik-Extralight";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Extralight.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
@font-face {
       font-family: "Graphik-Medium";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Medium.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
html, body{
	background-color: #ff531f;
	margin: auto;
	width: auto;
	height: auto;
}
a:link {
  color: #ffff40;
  text-decoration: none;
}
a:visited {
  color: green;
}
a:hover {
  color: #ffff40;
}
.sentence1{
	position: fixed;
	font-family: Graphik-Extralight;
	font-size: 15px;
	width: 50%
	z-index: 1;
	left:74%;
	bottom: 1%;
}
.sentence2{
	position: fixed;
	font-family: Graphik-Extralight;
	font-size: 20px;
	width: 40%;
	z-index: 1; 
	left: 72%;
	top: 3%;
}
.sentence3{
	position: fixed;
	font-family: Graphik-Extralight; 
	font-size: 80px;
	transform: rotate(-90deg);
	z-index: 1;
	right: 78%;
	top: 75%;
	text-decoration: underline ;
}
.sentence4{
	position: fixed;
	font-family: Graphik-Extralight; 
	font-size: 75px;
	transform: rotate(90deg);
	z-index: 1;
	left: 68%;
	top: 35%;
}
.gif01{
	position: fixed;
	width: 220px;
	height: 400px;
	z-index: 1;
	right: 80%;
	top: 0%;
	animation: none;
}
.gif02{
	position: fixed;
	width: 120px;
	height: 200px;
	z-index: 1;
	left: 85%;
	top: 60%;
	animation: none;
}
.picture-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content:center;
}
@keyframes hover {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
img{
	width:110px; 
	height:200px;
	padding: 20px;
	animation-name: hover;
	animation-duration: 1s;
	animation-fill-mode: backwards;
	animation-play-state: paused;  
}
img:active,
img:focus,
img:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}







