@font-face {
       font-family: "Graphik-Extralight";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Extralight.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
@font-face {
       font-family: "Graphik-Medium";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Medium.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
html, body{
	background-color: #ffff40;
	margin: auto;
	width: auto;
	height: auto;
}
a:link {
  color: #ff531f;
  text-decoration: none;
}
a:visited {
  color: green;
}
a:hover {
  color: #ff531f;
}
.sentence1{
	position: absolute;
	font-family: Graphik-Extralight;
	font-size: 90px;
	transform: rotate(-90deg);
	z-index: 1; 
	right:85%;
	top: 65%;
	text-decoration: underline; 
}
.sentence2{
	position: absolute;
	font-family: Graphik-Extralight;
	font-size: 25px;
	width: 50%;
	z-index: 1;
	right:34%;
	top: 40%;
}
.sentence3{
	position: absolute;
	font-family: Graphik-Extralight; 
	font-size: 20px;
	z-index: 1;
	left: 38%;
	bottom: 82%;
}
s{
	font-family: Graphik-Medium; 
	font-size: 25px;
	text-decoration: none;
}
.sentence4{
	position: absolute;
	font-family: Graphik-Extralight; 
	font-size: 80px;
	z-index: 1;
	transform: rotate(90deg);
	left: 83%;
	top: 20%;
	text-decoration: underline;
}
.sentence5{
	position: absolute;
	font-family: Graphik-Extralight; 
	font-size: 50px;
	z-index: 1;
	left: 65%;
	bottom: 86%;
}
.picture01{
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	width: 60%;
	float: left;
	margin-top: 2%;
	margin-left: 1%;
}
.picture02{
	display: flex;
	justify-content: flex-start;
	align-self: flex-end;
	width: 58%;
	float: right;
	margin-top: -5%;
	margin-left: 5%;
}
.picture03{
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	width: 45%;
	float: right;
	margin-top: -18%;
}
#img1{
	opacity: 85%;
	width: 60%; 
}
#img2{
	opacity: 85%;
	width: 55%;
}
#img3{
	opacity: 85%;
	width: 45%;
	transform: rotate(-90deg);
}