@font-face {
       font-family: "Graphik";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Thin.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
@font-face {
       font-family: "Graphik-Medium";
       src: url("https://itssandyw.github.io/corestudio/project01/Graphik/Graphik-Medium.otf");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
html, body{
	background-color: #ff531f;
	margin: auto;
	width: auto;
	height: auto;
}
.sentence1{
	position: absolute;
	font-family: Graphik-Thin;
	font-size: 90px;
	transform: rotate(-90deg);
	z-index: 1; 
	right:80%;
	bottom: 20%
}
.sentence2{
	position: absolute;
	font-family: Graphik-Thin;
	font-size: 14px;
	text-align: center; 
	z-index: 1;
	left:15%;
	bottom: 55%;
}
.sentence3{
	position: absolute;
	font-family: Graphik-Thin; 
	font-size: 20px;
	z-index: 1;
	left: 38%;
	bottom: 82%;
}
a{
	font-family: Graphik-Medium; 
	font-size: 25px;
}
.sentence4{
	position: absolute;
	font-family: Graphik-Thin; 
	font-size: 80px;
	z-index: 1;
	transform: rotate(90deg);
	left: 80%;
	top: 20%;
}
.sentence5{
	position: absolute;
	font-family: Graphik-Thin; 
	font-size: 50px;
	z-index: 1;
	left: 60%;
	bottom: 90%;
}
.img1 {
	position: absolute;
	width: 35%; 
	right: 64%;
	bottom: 66%;
}
.img2 {
	position: absolute;
	width: 35%; 
	left: 38%;
	top: 20%;
}
.img3 {
	position: absolute;
	transform: rotate(90deg);
	width: 25%;
	left: 69%;
	top: 50%;
}
